/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
textarea {
  font-family: monospace;
}
td{
  padding:5px;
  border:solid #eeeeee 1px;
}
tr:nth-child(even) td:nth-child(odd), 
tr:nth-child(odd) td:nth-child(even)
{
    background-color: #f8f8f8;
}